/*====================================*/
/*FULL BACKGROUND SLIDE SHOW*/
/*====================================*/


#slideshow{
    height: 100vh;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    z-index: -1;
}

.slide{
    position: absolute;
    width: 670px;
    height: 420px;
    top: 42px;
    left: 116px;
    overflow: hidden;
}
.bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    transform: scale(1.1);

}
.bg-active {
    transform: scale(1);
    opacity:0.5;
}

/*#slideshow .bg-image  {*/
/*opacity:0.5;*/
/*}*/

/*=======================*/
