@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto Condensed', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: ghostwhite;
}
ol, ul {
	list-style: disc inside none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear_all {
	clear: both;
}

a {
	background-color: transparent;
	background-position: initial initial;
	background-repeat: initial initial;
	/*font-size: 100%;*/
	margin: 0;
	padding: 0;
	color: #222;
	text-decoration: none;
	vertical-align: baseline;
}

a:hover {
	color: #555;
	text-decoration: none;
}

a:visited {
	color: #777;
	text-decoration: none;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.5em;
}

/* end reset */

.left {
	float: left;
	width: auto;
}
.right {
	float: right;
	width: auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.clear {
	clear: both;
	height: 1px;
	margin: 0 0 -1px;
	width: 100%;
}

.hidden {
	display: none;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative !important;
}

.centered {
	/*background-color: #fff;*/
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid white;*/
	/*min-width:90%;*/
	max-height: 100%;
}

.animate {
	position: absolute !important;
}

.shadow {
	-webkit-filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.3) );
	filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except for the spread property */
}

.socialShadow {
	-webkit-filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.05) );
	filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.05) ); /* Same syntax as box-shadow, except for the spread property */
}

/*========= CUSTOMS ===========*/

/*.nimaiContainer {*/
	/*color: #222;*/
	/*font-style: normal;*/
	/*font-weight: 500;*/
	/*height: 100%;*/
	/*left: 0;*/
	/*!*overflow: hidden;*!*/
	/*text-align: center;*/
	/*!*text-transform: uppercase;*!*/
	/*top: 0;*/
	/*width: 100%;*/
	/*!*max-height: 820px;*!*/
	/*filter: alpha(opacity=0);*/
	/*opacity: 1;*/
/*}*/

#AllGlories {
	font-size: 1.2vmin;
	padding: 5px;
}

#AllGlories a:hover {
	color: #000;
}

#nimaiHeader {
    text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

#nimaiFooter {
	position: absolute;
    bottom:0px;
    text-align: center;
    /*margin-top:5px;*/
	/*margin-bottom:10px;*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.nimaiFooterCredit {
	font-size: 1.2vmin;
	padding-bottom: 5px;
}

.nimaiFooterCredit a:hover {
	color: #000;
}


.nimai_webart_tag {
	padding-bottom: 10px;
}

#nimEye {
	position: absolute;
	z-index: 500;
	left:0;
	top:0;
	/*height:100px;*/
	width:200px;
}

#sasaMessage {
	color: #10247e;
	font-size: 7vmin;
	opacity: 0.8;
	z-index: 100;
	padding: 5px;
}

.sasaBack {
	background: url(../images/bg/SasaRA_BG_Photo_1.png) no-repeat;
}

.sasaLogo {
	height: 122px;
	width: 200px;
	/*position: absolute;*/
	padding: 5px;
	background-image: url(../images/SasaRA_Logo.svg);
	background-repeat: no-repeat;
	background-position: 0px center;
	margin-left: auto;
	margin-right: auto;
}

#sasaBgImage {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 1;
}


#mainStage {
	background-color: rgba(255,255,255,0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	width:100%;
	overflow: hidden;
}

.specialMessage {
	padding-bottom: 5px;
}


#heartcoreLogo {
	height: 88px;
	width: 160px;
	/*padding: 10px;*/
	background-image: url(../images/HeartcoreMusic.svg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.revMailingList {
	padding: 0px;
	position: relative;
	opacity: 0.75;
}

.revMailingList:hover {
	opacity: 0.90;
}



/*========= SOCIAL LOGOS ===========*/

#socialLogos {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width:auto;
	z-index:1000;
}

i {
	text-align:center;
	padding-top:8px;
	font-weight:900;
}

.link {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-position: 50% 0;
	border: solid #d3d3d3 3px;
	color: #d3d3d3;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	margin: 1px;
	width: 40px;
}

.link i {
	color: #d3d3d3;
	padding-top: 10px;
}

.link:hover {
	background-color:#d3d3d3;
	background-position: 50% 100%;
}

.link:hover i {
	color: black;
}



/*===================================================

=====================================================*/

@media screen and (min-width: 200px) and (max-width: 399px) {
    .mainContainer {
        margin: 10px;
        width: 95%
    }
    #socialLogos {
        position: relative;
        padding: 5px;
        max-width: 230px;
    }

    #AllGlories {
        font-size: 3vmin;
        padding: 5px;
    }

    .sasaFooterCredit {
        font-size: 3.5vmin;
    }
    .sasaLogo {
        height: 20px;
        padding: 5px;
        background-image: url(../images/Sasa.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;

    }
    #sasaMessage {
        font-size: 8vmin;
    }

    #heartcoreLogo {
        height: 80px;
        width: 140px;
        /* padding: 10px; */
        background-image: url(../images/HeartcoreMusic.svg);
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;


    .nimaiFooterCredit {
        font-size: 3.2vmin !important;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
    .mainContainer {
        width:95%;
        margin: 10px 8%;

    }
    .sasaLogo {
        height: 122px;
        width: 200px;
        /*position: absolute;*/
        background-image: url(../images/SasaRA_Logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }
    #sasaMessage {
        font-size: 6.5vmin;
    }
    .nimaiFooterCredit {
        font-size: 2.4vmin;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 800px) {
    .mainContainer {
        width: 90%
        margin: 10px 12%;
    }
    #socialLogos {
        position: relative;
        padding: 10px;
    }
}
