/*=======  TWITTER FETCHER  ================================*/

@media screen and (min-width: 200px) and (max-width: 399px) {
    .twitterFeed {
        background-color: rgba(255,255,255,0.3);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        line-height: 1.3em;
        padding: 0 5px 5px;
        width:70%;
        margin-left: auto;
        margin-right: auto;
    }

    .twitterBG {
        font-size: 6vmin;
        opacity: 0.15;
        z-index: 10;
    }
}


@media screen and (min-width: 400px) and (max-width: 600px) {
    .twitterFeed {
        background-color: rgba(255,255,255,0.3);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        line-height: 1.3em;
        padding: 0 5px 5px;
        width:70%;
        margin-left: auto;
        margin-right: auto;
    }
    .twitterBG {
        font-size: 4vmin;
        opacity: 0.15;
        z-index: 10;
    }
}

@media screen and (min-width: 601px) {
    .twitterFeed {
        background-color: rgba(255,255,255,0.3);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        line-height: 1.3em;
        padding: 0 5px 7px;
        width:50%;
        margin-left: auto;
        margin-right: auto;
    }
    .twitterBG {
        font-size: 3.0vmin;
        opacity: 0.15;
        z-index: 10;

    }
}

#twitterFetcher_1 {
    z-index: 50;
}

#twitterFetcher_1 ul li {
    list-style-type: none;
}

.twitterFeed .tweet {
    color: #555;
}

.twitterFeed .interact a {
    padding: 2px 10px;
    color: #999 !important;
}

.twitterFeed .interact a:hover {
    padding: 2px 10px;
    color: #222 !important;
}

.twitterFeed .interact p {
    padding: 10px;
    font-size: 1vmin;
}

.twitterFeed .timePosted {
    /*width:15%;*/
    display: none;
    /*font-size: 1.5em;*/
}

.twitterFeed .user {
    clear:left;
    display: none;
}

.twitterFeed .user a {
    width: 100px;
    display: none;
}

.twitterFeed .user span span {
    width:100px;
    /*display:block;*/
    margin-top:10px;
    display: none;
}

.twitterFeed .user img, .user a > span {
    float:left;
    display: none;
}

